.rad-calendar {
  font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 15em;
  flex-direction: column;
}

.rad-control {
  display: flex;
}

.rad-days {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
}

.rad-date {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.rad-day {
  flex: 1;
  text-align: center;
}
