.rad--ui--input {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.rad--ui-input-input {
  text-align: center;
  outline: none;
  width: 72px;
  min-width: 0;
  font-size: 14px;
  border: 1px solid #dadbdc;
  border-radius: 3px;
}

.rad--ui-input-input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3),
    inset 0 1px 1px rgba(255, 255, 255, 0.2);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.rad--ui--button-today {
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  border:1px solid #cccdcf;
  background-color: #f5f8fa;
}

.rad--ui--button-today:hover {
  background-color: #ebf1f5;
}

.rad--ui--button-today:active {
  border-color: rgb(216, 225, 232);
  background-color: #d8e1e8;
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
}
